<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="./vue.js"></script>
  <title>Vue.js</title>
</head>
<body>

  <div id="app1">
    
    <ul>
      <li v-for="({nome, populacao}, key) in estados" :key="key+nome">
        <p>{{nome}}</p>
        <p>{{populacao}}</p>
      </li>
    </ul>

    <div v-for="n in 10">
      {{n}}
    </div>

  </div>

  <div id="app2">
    <h4>Exemplo 2</h4>
    <ul>
      <li v-for="item in lista">
        {{item}}
      </li>
    </ul>

    <button @click.prevent="removerItem">Remover</button>
    
    <button @click.prevent="modificarItem">Modificar</button>

  </div>

  <script>
    vm1 = new Vue({
      el: "#app1",
      data: {
        estados: {
          sp: {
            populacao: "45 milhões",
            nome: "São Paulo"
          },
          mg: {
            populacao: "21 milhões",
            nome: "Minas Gerais"
          },
          rj: {
            populacao: "17 milhões",
            nome: "Rio de Janeiro"
          }
        }
      }
    })
  
    vm2 = new Vue({
      el: "#app2",
      data: {
        lista: ["item 1", "item 2", "item 3"]
      },
      methods: {
        removerItem() {
          this.lista.pop();
        },
        modificarItem() {
          this.$set(this.lista, 0, "Banana")
        }
      }
    })
  
  </script>

</body>
</html>